<!DOCTYPE html>
<html lang="en">
    <head><title>An error occurred</title></head>
    <body>
        <h3>Some error occured in the execution of this request</h3>
        <h4>Please report this error to the developer at: dnigamerofficial(at)gmail(dot)com or click <a href="mailto:dnigamerofficial@gmail.com?subject=Error%20Report%20at%20vnStat%20traffic%20meters%20dashboard&body=Error%20happened%20at%20the%20time%3A%20{{time}}%0D%0ASystem%20details%3A%20{{request.headers.get('User-Agent')}}%0D%0A%0D%0AError%20details%3A%0D%0A{{erro}}">here</a></h4>
        <b><p>Error details below:</p></b>
        {{erro}}<br><br>
        <b><p>Solving steps (here the system can help you solving this error. If there's nothing here, don't worry, report the error to the developer)</p></b>
        {{additional}}
    </body>
</html>