<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Waiting</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script>
            window.setTimeout(function(){
                // Move to a new location or you can do something else
                window.location.href = "/";
            }, 4000);
        </script>
    </head>
    <body>
        <p>Please wait while the system processes your request</p>
        <p>To return to the main page if you haven't been redirected in 5 seconds, click <a href="/">here</a></p>
    </body>
</html>